body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: aqua;
}

button{
    padding: auto;
    border-radius: 6px;
    background-color: aliceblue;
    color: white;
    cursor: pointer;
}

input {
    padding: auto;
}

